@import "./mixin.scss";
@import "./font-face.css";

:root {
    /* rgba(228, 206, 255, 1) */
    --theme-color-s: #e4ceff;
    /* rgba(193, 173, 255, 1); */
    --theme-color-m: #c1adff;
    /* rgba(185, 165, 254, 1) */
    --theme-color-l: #b9a5fe;
    /* rgba(36, 32, 104, 0.5) */
    --theme-color-xl-50: #918fb3;
    /* rgba(36, 32, 104, 1) */
    --theme-color-xl: #242068;
}

body {
    overflow-x: hidden;
}

input {
    &,
    &:focus {
        outline: none;
        border: none;
    }
}

.main-content {
    @include base-wrapper;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: rgba(228, 206, 255, 0.3);

    * {
        font-family: NotoSans-Regular, "Microsoft JhengHei UI", Poppins, Roboto, sans-serif;
    }

    > * {
        margin: auto;
    }

    [class*="-section"] {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .content-section .content-label {
        // background-color: var(--theme-color-s);
        color: rgba(36, 32, 104, 0.5);
        padding: 5px;
        font-size: 30px;
    }

    @media (width < 576px) {
        padding: 0;
        row-gap: 0;

        .content-label {
            text-align: center;
        }
    }

    .listing-section {
        @media (width < 576px) {
            padding: 5px;
        }

        .item {
            &:hover {
                translate: 0 -2.5px;
            }

            .item-image {
                &,
                img {
                    width: 100%;
                }

                img {
                    aspect-ratio: 1 / 1.1;
                }
            }

            .item-content {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .item-name {
                    @include multiline-ellipsis(2);
                    font-size: 14px;
                }

                .item-price {
                    font-size: 18px;
                    color: #f57224;
                }
            }
        }
    }
}
