:root {
    --theme-color-s: #e4ceff;
    /* rgba(228, 206, 255, 1) */
    --theme-color-m: #c1adff;
    /* rgba(193, 173, 255, 1); */
    --theme-color-l: #b9a5fe;
    /* rgba(185, 165, 254, 1) */
    --theme-color-xl: #242068;
    /* rgba(36, 32, 104, 1) */
}

* {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB",
        "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}
