@use "functions" as func;

@mixin base-wrapper {
    width: 100%;
    padding: 10px func.responsive-spacing();
}

@mixin multiline-ellipsis($line-clamp: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
