$theme-colors: (
    xs: (247, 235, 236),
    s: (221, 189, 213),
    m: (172, 159, 187),
    l: (89, 101, 111),
    xl: (29, 30, 44)
);

// $theme-colors: (
//     xs: (255, 255, 255),
//     s: (239, 255, 250),
//     m: (229, 236, 244),
//     l: (195, 190, 247),
//     xl: (138, 79, 255)
// );